ENVIRONMENT=prod
APP_PORT=container_port
POSTGRES_HOST=postgres_host
POSTGRES_PORT=postgres_port
POSTGRES_DB=balancee
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
FLYWAY_ENABLE=flyway_status
OPENAI_API_KEY=openai_api_key